@media screen and (min-width: 767px) {
    .mobileMenu {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .largeMenu {
        display: none;
    }
}
nav {
    float: left;
}
.navbar-toggle {
    float: left;
}
.nav>li>a {
    padding: 15px 0px;
}
.nav>li:hover {
    background-color: white !important;
}
#navbarCollapse ul li a {
    margin-left: 20px;
}
.logo {
    height: 150px;
}
.largeMenu {
    margin-bottom: 0;
}
