nav {
    float: left;
}
.navbar-toggle {
    float: left;
}
.nav>li>a {
    padding: 15px 0px;
}
.nav>li:hover {
    background-color: white !important;
}
#navbarCollapse ul li a {
    margin-left: 20px;
}
.logo {
    height: 150px;
}
.largeMenu {
    margin-bottom: 0;
}
.logoutForm {
    color: #777777;
    padding-top: 15px;
    margin-left: 330px;
}
.welcomeText {
    padding-right: 20px;
}

.navbar-fixed-top {
	z-index:1 !important; 
}
