@media (min-width: 768px) {
    .mobileMenu {
        display: none;
    }
}

@media (max-width: 768px) {
    .largeMenu {
        display: none;
    }
}

.header1 {
    background-color: #FFFFFF;
}

nav {
    float:left;
}

.navbar-toggle {
    float:left;
}

.nav>li>a {
    padding: 15px 0px;
}

.nav>li:hover {
    background-color: white !important;
}

#navbarCollapse ul li a {
    margin-left: 20px;
}

.input-group {
    margin: 8px 0px;
    float:right;
}

.logo {
    height: 150px;
}

ul li a {
    text-align: center;
}

.largeMenu {
    margin-bottom: 0;
}

.backgroundgrey{
    background-color: #808080;
}

.container {
    min-height: 81%;
    background-color: #eaeaea;
    padding: 0;
}

.row {
    margin: 0px;
}

.content {
    min-height: 81%;
    min-width: 800px;
    background-color: #FFFFFF;
    font-family: "Trebuchet MS";
}

h1{
    font-size: 40px;
}

.managementTitle {
    margin-top: 50px;
}

.popup {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.popupWindow{
    margin-top: 7%;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 10px;
    min-width: 500px;
}

.closePopup{
    -webkit-appearance: none;
    border: 0;
    background: 0;
    float: right;
    margin: 20px 10px;
    color: lightgrey;
}

.form-horizontal{
    margin-bottom: 60px;
}