.scrollBody {
	position: relative;
	overflow:auto;
	width: 100%;
}

.noScrollBody {
	height:500px;
	position: relative;
	overflow:auto;
	width: 100%;
}
.tabs-content, #tabs-Location {
	display:flex;
}

.file-Holder{
    display: none !important; 
}
.file-Caller{
    border-color: #e2e2e2;
    background-color: #FFFFFF;
    color: #e2e2e2;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-style: solid;
    font-size: 28px !important;
    font-weight: bold;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.file-Caller:hover{
    color: #4a4a4a;
    border-color: #5a5a5a;
    opacity: 0.9;  
}

.bannerPic {
    width: 100%;
}

.locationSelect, .buttonLinkToCongress {
	margin-bottom: 20px;
}
.description{
    word-break: break-all;
    height: 300px;
    line-height: 18px;
    vertical-align: text-top;
}
.bigPop {
    width: 90%;
    margin: auto 5%;
}

.bigPop .listBoxDataSwap {
    font-size: 15px;
}
.bigPop .popupTitle {
    width: 88%;
}
.bigPop .noScrollBody{
    height: 300px;
}
.bigPop .buttonSaveSwapList{
    margin-top: 50px;
    float: right;
}

.smallPop {
    width: 60%;
}
.smallPop .popupTitle {
    width: 55%;
}
#popUpSubjectListBoxAdd{
    z-index: 10;
}

.priceLine{
    border-top: 2px solid #000000
}

.priceObject{
    width: 203px;
}
