#trackCarousel {
	border-style: solid;
	margin-right: 20px;
}


.eventPlanningBox {
	border-style: solid;
}

.eventBoxPlanning {
	border-style: solid;
	position:absolute;
	top:100px;
}

.eventInEventBox {
	border-style: solid;
	margin-top:3px;
	margin-bottom: 3px;
	left:0;
}

.eventPlanningBox .eventInEventBox {
	z-index:6;
	background-color:#ffffff;
}

.eventBoxPlanning  .eventInEventBox {
	position:absolute;
}

.smallEventName {
	font-size: 18px;
}

#timeBarPlanning {
	margin-top: 100px;
}

.eventPlanningPopUp {
	position:absolute;
	display: none;
	width: 130%;
	left:-15%;
	background-color: #FFFFFF;
	border-style: solid;
	border-radius: 25px;
	z-index:5;
}

.eventPlanningPopUp form {
	margin: 10px 0px 0px 0px;
}

.roomSelect {
	display:none;
}

.scrollBody {
	position: relative;
	overflow:auto;
	width: 100%;
}