/* DataTable */

#congresListBox {
    border-style: solid;
    border-color: #d3d3d3;
    padding: 0px;
}
.display {
    padding: 0;
}
#congresListBox_wrapper {
    margin: 20px 0px;
}
th {
    background-color: grey;
}
tr {
    border: 1px solid black;
}
.dataTable tbody tr {
    cursor: pointer;
}

/* Wrapper */

.backgroundgrey {
    background-color: #808080;
}
.container {
    min-height: 81%;
    background-color: #eaeaea;
    padding: 0;
}
.row {
    margin: 0px;
}
.content {
    min-height: 81%;
    min-width: 800px;
    background-color: #FFFFFF;
    font-family: "Trebuchet MS";
}
.managementTitle {
    margin-top: 50px;
}

/* PopUp */

h1 {
    font-size: 40px;
}
.popupTitle {
    position: fixed;
    width: 48%;
    transform: translate(-1%, 0%);
    top: 7%;
    background-color: #FFFFFF;
    z-index: 2;
    border-radius: inherit;
}
.closePopup {
    -webkit-appearance: none;
    border: 0;
    background: 0;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #dbdbdb;
    position: relative;
}
.closePopup:hover {
    color: #afaeae;
}
.popup {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.popupWindow {
    top: 7%;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 10px;
    min-width: 500px;
    overflow: auto;
    height: 86%;
}
.popupWindow::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0);
}
.popupWindow::-webkit-scrollbar-track {
    margin: 50px 0px;
}
.popupWindow::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 10px;
}
.popupWindow::-webkit-scrollbar-thumb:hover {
    background-color: #c6c6c6
}
.formPopup {
    top: 80px;
}
.form-horizontal {
    margin-bottom: 60px;
}
.errorMsg {
    color: #FF0000;
    font-weight: bold;
    font-family: "Trebuchet MS";
}

.ui-widget-header {
	border:0px;
	background: none;
}

.ui-widget-content {
	border: 0;
}

.ui-tabs .ui-tabs-panel {
	border: 1px solid #aaaaaa;
	border-radius:2px;
}

.dataSwapList {
	border-width:2px;
	height:100%;
	border-style:solid;
	padding:0;
}

.dataSwapTable {
	padding:0;
	margin:0;
	width:100%;
	font-size:24px;
}	

.dataSwapTable tbody tr:nth-child(even){
	background-color: #f2f2f2;
}

.dataSwapTable tbody tr:hover {
	background-color: #5f5f5f;
	color:white;
}

.dataSwapTable tbody .selected {
	background-color: #5f5f5f;
	color:white;
}
.dataSwapListMiddle {
	height:100%;
}

.dataSwapButton {
	width:50%;
	margin-top:40px;
}
