.content {
	padding: 0;
}
h1 {
    font-size: 36px;
}
.navbar-fixed-top {
    z-index: 2;
}
.container {
    padding: 0px;
    background-color: beige;
}
.content {
    background-color: #FFFFFF;
}
.row {
    margin: 0px;
}
.errText{
    font-weight: bold;
    color: #ff0000;
    padding: 0px;
}
.popupTitle {
    background-color: #FFFFFF;
    z-index: 2;
    position: fixed;
    top: 40px;
    border-radius: 7px;
}
.closePopup {
    -webkit-appearance: none;
    border: 0;
    background: 0;
    top: 10px;
    left: 20px;
    float: right;
    color: #dbdbdb;
}
.closePopup:hover {
    color: #afaeae;
}
#popUpspeaker {
    z-index: 9;
}
.popup {
    z-index: 7;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.popupWindow {
    top: 40px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 10px;
    min-width: 500px;
    overflow: auto;
    height: 86%;
}
.popupWindow::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0);
}
.popupWindow::-webkit-scrollbar-track {
    margin: 50px 0px;
}
.popupWindow::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 10px;
}
.popupWindow::-webkit-scrollbar-thumb:hover {
    background-color: #c6c6c6
}
.form-horizontal {
    margin-bottom: 60px;
    margin-top: 80px;
}
.errorMsg {
    color: #FF0000;
    font-weight: bold;
    font-family: "Trebuchet MS";
}
.eventContent .eventInfoBox{
   height: 250px; 
}
.eventName {
	text-align: center;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 30px;
}
.eventBoxSignUp {
	background-color:#FFFFFF;
	position:absolute;
}
.eventBox {
	border-style:solid;
	border-width: 1px;
}
.eventImage {
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #888888;
	padding:0;
	margin-bottom: 10px;
	max-height: 100px;
}

.whiteSpace {
	width: 10px;
}

.eventImageSignUp {
	padding: 0;
	width: 100%;
	height: 75px;
}

.eventText {
	word-wrap: break-word;
	padding: 0px;
	margin-right: 10px;
}
.event {
	padding: 0px 5px;
}
.moreInfoButton{
    position: relative;
    top: 70px;
}

.bigPop {
    width: 80%;
    margin: auto 10%;
}
.bigPop .popupTitle {
    width: 76%;
}
.smallPop {
    width: 60%;
}
.smallPop .popupTitle {
    width: 55%;
}

/*SpeakerInfo*/

.speaker {
    height: 300px;
    margin: 2px !important;
}
.speaker img {
    height: 250px;
    width: 195px;
    margin: 5px 0px;
    padding: 0px;
}
#thumbnail{
    height: 300px;
    width: 300px;
}

/* Logout */

.logoutForm {
    color: #777777;
    margin-top: 0px;
    margin-bottom: 0px;
}
.welcomeText {
    padding-right: 20px;
    display: block;
    margin: 8px !important;
}
.track {
	padding: 0px;
}
.congresInfo {
    box-shadow: 0px 0px 2px 1px #888888;
    margin: 5px 0px;
    padding: 0px;
}
.congresInfo span {
    padding: 0px 15px;
}
.congresInfo .row {
    margin: 5px;
}
.plan {
    margin: 100px 10px 0px 10px;
    float: right;
    background-color: #f06d0c;
    color: #ffffff;
}
.plan:hover {
    border-color: #000000;
    background-color: #efab2c;
}
.eventContent {
    overflow-y: scroll;
    height: 70%;
    margin-top: 20px;
}
.eventContent::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
    width: 10px;
}
.eventContent::-webkit-scrollbar-thumb {
    background-color: #bebfc1;
    border-radius: 7px;
}
.subjectText{
    word-break: break-all;
    display: inline-block;
}
.subjectText a:hover{
    cursor: pointer;
    text-decoration: none;
}
.eventInfoBox {
    box-shadow: 0px 0px 3px 1px #888888;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
	padding: 0px 10px !important;
}

.selectedSubject{
    box-shadow: 0px 0px 25px 5px #f09a25;
}
.selected {
	box-shadow: 0px 0px 25px 5px #378cd6;
}
.timeBar {
	padding: 0;
	padding-right: 20px;
}

.eventBox { 
	margin-top:0px; 
	border-style:solid; 
	border-width:1px; 
	background-color:#F0F0F0;
	padding: 0px 5px;
}
.congressCurrentDate {
	text-align:center;
}

.congressDescription {
	text-align: left;
}

.day {
	margin-bottom: 50px;
}

.carousel-control {
	background-image: none;
}

.carouselButton {
	height: 100px;
	background-image: none !important;
	width: 50px;
}

.carouselIcon {
	font-size:50px !important;
	color: black;
}

.previousDayButton {
	margin-right: 20px;
}

.congressTitle {
	text-align:center;
}



.eventTitle {
	height: 100px;
	padding: 0px;
	font-weight: bold;
	font-size: 25px;
	text-align:center;
	word-wrap: break-word;
	position: relative;
	top: 40px;
}

.noEventsText {
	text-align:center;
}

@media(max-width: 460px) {
	.eventName {
		text-align: center;
		padding: 0;
		margin-top: 5px;
	}
	
	.eventText {
		font-size: 15px;
	}
}

@media(min-width: 768px) {
	.eventTitle {
		font-size: 25px;
	}
}

@media(max-width:768px) {

	.infoGlyph {
		border:none;
		background-color: transparent;
		font-size: 30px;
		text-align: center;
	}
	
	.subjects {
		display: none;
	}

	.eventInfoBox {
        width: 100%;
        height: 250px;
    }
	
	.eventImage {
		display:none;
	}
	
	.eventTime {
		margin-bottom: 0px;
	}

    .popupTitle h1 {
        width: 70%;
        margin-right: 10px;
        font-size: 24px;
    }
    .closePopup {
        float: right;
    }
    .eventContent {
        overflow: hidden;
        height: auto;
    }
    .content {
        width: 100%;
        margin: 0px;
    }
    .popupWindow {
        min-width: 100%;
        margin: 3px;
        top: 0px;
        height: 99%;
    }
    .popupWindow img {
        max-height: 100px;
    }
    .popupWindow label,
    .congresInfo label {
        width: 90%;
        padding: 0px;
    }
    .form-horizontal {
        margin-top: 120px;
    }
    .popupTitle,
    .bigPop .popupTitle,
    .smallPop .popupTitle {
        top: 4px;
        width: 83%;
        position: fixed;
    }
    .speaker {
        height: auto;
        width: auto;
    }
    .speaker img {
        width: 50px;
    }
    .speaker span {
        display: none;
    }
    .plan {
        margin: 0px;
    }
    .welcomeText{
        display: none;
    }
}



@media(max-width:990px) {
	.eventBoxSignUp {
		padding: 0px;
		text-align: center;
	}
	.eventBoxSignUp h3 {
		font-size: 15px;
		font-weight: bold;
		word-wrap: break-word;
	}
	.eventImage {
		display: none;
	}
	.eventBoxSignUp p {
		word-wrap: break-word;
	}
	.content {
        width: 100%;
        margin: 0px;
    }
	.congressDescription {
		text-align: center;
	}
}

@media(min-width: 990px) {
	.eventImage {
		display: block;
	}
}

@media(max-width: 1200px) {
	.eventTitle {
		word-wrap: break-word;
		position: relative;
		font-size: 20px;
		top: 40px;
	}
}

@media(max-width: 900px) {
	.eventTitle {
		word-wrap: break-word;
		position: relative;
		font-size: 17px;
		top: 40px;
	}
}



